.pw-timeline {
    // ************************
    .topsubnav {
        text-align: center;
        margin: 0;
        padding: 30px 0 0;
        list-style: none
    }
    @media screen and (min-width:768px) {
        .topsubnav.act {
            position: fixed;
            width: 100%;
            top: 70px;
            left: 0;
            z-index: 9
        }
    }
    .topsubnav li {
        display: inline-block
    }
    .topsubnav li a {
        color: #bc1b0b;
        font-size: 18px;
        border: 1px solid #bc1b0b;
        padding: 4px 13px;
        margin: 3px 1px;
        display: inline-block;
        background: #fff;
        text-decoration: none;
    }
    .topsubnav li a:hover {
        color: #fff;
        background: #bc1b0b
    }
    // ************************** 
    .intractiveline {
        max-width: 360px;
        margin: 100px auto 180px;
        position: relative;
        background: url('../images/line.png') repeat-y center
    }
    .intrbox {
        margin: 0 auto;
        background: #fbc03f;
        height: 30px;
        width: 30px;
        margin-bottom: 52px;
        display: block;
        border-radius: 50px;
        cursor: pointer;
        margin-top: 0
    }
    .intrbox:after {
        overflow: hidden;
        height: 2px;
        width: 85px;
        background: #fbc03f;
        position: absolute;
        content: ' ';
        margin-top: 15px;
        z-index: -1
    }
    .intrbox.year10:after {
        background: #bc1b0b;
        margin-top: 28px;
        width: 98px
    }
    .intrbox.year10 {
        background: #bc1b0b;
        height: 56px;
        width: 56px;
        margin-bottom: 45px
    }
    @media screen and (min-width:992px) {
        .intrbox.secbox {
            background: 0 0;
            left: -150px;
            position: absolute;
            right: auto;
            top: 0
        }
        .intractiveline>div:nth-child(2n+1) .intrbox.secbox {
            left: auto;
            right: -150px;
            top: 0
        }
        .aos-init {
            transition: all 0.5s ease-in-out;
        }
        .aos-init.active .intrbox.secbox {
            left: -320px
        }
        .intrbox.secbox:after {
            width: 40px;
            right: -120px
        }
        .intrbox.year10.secbox:after {
            right: -94px
        }
        .intractiveline>div:nth-child(2n+1) .intrbox.secbox:after {
            left: -120px;
            right: auto
        }
        .intractiveline>div:nth-child(2n+1) .intrbox.secbox.year10:after {
            left: -94px;
            right: auto
        }
        .intractiveline>.aos-init.active:nth-child(2n+1) .intrbox.secbox {
            right: -320px;
            left: auto
        }
    }
    @media screen and (min-width:1581px) {
        .aos-init.active .intrbox.secbox {
            left: -350px
        }
        .intractiveline>.aos-init.active:nth-child(2n+1) .intrbox.secbox {
            right: -350px
        }
    }
    .intrbox sup {
        top: 0
    }
    .intrbox_inner {
        position: absolute;
        width: 110px;
        left: 0;
        margin-top: -14px;
        background: #f6f6f6;
        cursor: default;
        opacity: .5
    }
    .intrbox_inner img {
        width: 100%
    }
    .intrbox_inner {
        transition: all .1s linear;
        -moz-transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -o-transition: all .1s linear
    }
    .aos-init.active .intrbox .intrbox_inner {
        opacity: 1;
        width: 320px;
        z-index: 2;
        margin-left: -200px;
        margin-top: -3px;
        transition: all .1s linear;
        -moz-transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -o-transition: all .1s linear
    }
    @media screen and (max-width:1580px) {
        .aos-init.active .intrbox .intrbox_inner {
            width: 290px;
            margin-left: -170px
        }
        .header-slides h1 {
            font-size: 34px
        }
        .header-slides p {
            font-size: 20px
        }
    }
    .aos-init.active .intrbox.year10 .intrbox_inner {
        margin-top: 10px
    }
    .aos-init.active .intrbox .intrbox_inner h2,
    .aos-init.active .intrbox .intrbox_inner p {
        display: block
    }
    .intractiveline .aos-init {
        position: relative;
        z-index: 1
    }
    .intractiveline .aos-init.active {
        z-index: 2
    }
    .intractiveline>div:nth-child(2n+2)>div:after {
        margin-left: -55px
    }
    .intractiveline>div:nth-child(2n+1)>div>.intrbox_inner {
        right: 0;
        left: auto
    }
    .intractiveline>div.active:nth-child(2n+1)>div>.intrbox_inner {
        margin-left: auto;
        margin-right: -200px
    }
    @media screen and (max-width:1580px) {
        .intractiveline>div.active:nth-child(2n+1)>div>.intrbox_inner {
            margin-right: -170px
        }
    }
    @media screen and (min-width:992px) {
        .intractiveline>div:nth-child(2n+2)>div.year10:after {
            margin-left: -42px
        }
        .intractiveline>div:nth-child(2n+0)>div>.intrbox_inner h2:before {
            right: -12px;
            left: auto;
            border-right: 0;
            border-left: 12px solid #fbc03f
        }
        .intractiveline>div:nth-child(2n+0)>div.year10>.intrbox_inner h2:before {
            border-left: 12px solid #bc1b0b
        }
    }
    .intrbox.year10 .intrbox_inner {
        margin-top: 0
    }
    .intrbox.left .intrbox_inner {
        left: 0
    }
    .intrbox_inner span {
        font-size: 16px;
        text-align: right;
        color: #fbc03f;
        display: block;
        position: absolute;
        top: -28px;
        text-align: right;
        width: 95%;
        font-family: Tahoma, Geneva, sans-serif
    }
    .intrbox.year10 .intrbox_inner span,
    .intrbox.year10.secbox span,
    .intrbox>span {
        display: none
    }
    .intrbox.year10>span {
        display: inline-block;
        position: absolute;
        text-align: center;
        width: 56px;
        padding-top: 18px;
        font-size: 18px;
        color: #fff
    }
    .intrbox_inner h2 {
        font-size: 21px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 8px;
        background: #fbc03f;
        color: #111;
        position: relative;
        font-weight: 400;
        font-family: 'MyriadProRegular', sans-serif;
        display: none
    }
    .intrbox_inner h2:before {
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 12px solid #fbc03f;
        content: '';
        position: absolute;
        left: -12px;
        top: 9px
    }
    .intrbox.year10 .intrbox_inner h2:before {
        border-right: 12px solid #bc1b0b
    }
    .year10 .intrbox_inner h2 {
        background: #bc1b0b;
        color: #fff
    }
    .intrbox_inner p {
        font-size: 18px;
        line-height: 22px;
        color: #4c4d4f;
        padding: 13px;
        margin-top: 0;
        margin-bottom: 0;
        display: none
    }
    @media screen and (max-width:1580px) {
        .intrbox_inner h2 {
            font-size: 19px
        }
        .intrbox_inner p {
            font-size: 16px;
            line-height: 20px
        }
    }
    @media screen and (max-width:1339px) {
        .aos-init.active .intrbox .intrbox_inner {
            width: 240px
        }
        .intractiveline>div.active:nth-child(2n+1)>div>.intrbox_inner {
            margin-right: -110px
        }
        .aos-init.active .intrbox .intrbox_inner {
            margin-left: -110px
        }
    }
    @media only screen and (min-width :992px) and (max-width:1339px) {
        .aos-init.active .intrbox.secbox {
            left: -270px
        }
        .intractiveline>.aos-init.active:nth-child(2n+1) .intrbox.secbox {
            right: -270px
        }
    }
    @media screen and (max-width:1199px) {
        .intractiveline {
            transform: scale(.9);
            margin-top: -80px;
            margin-bottom: 0
        }
    }
    @media screen and (max-width:991px) {
        .intrbox_inner {
            left: auto;
            right: 0
        }
        .intractiveline {
            margin-left: -150px
        }
        .intractiveline>div:nth-child(2n+2)>div:after {
            margin-left: auto
        }
        .intrbox {
            margin-bottom: 65px
        }
        .intractiveline>div:nth-child(2n+2)>div>.intrbox_inner {
            right: 0;
            left: auto
        }
        .aos-init.active .intrbox .intrbox_inner {
            margin-right: -120px;
            margin-left: auto
        }
        .intrbox_inner {
            margin-top: 0
        }
        .intrbox.secbox {
            background: 0 0
        }
        .intrbox.secbox:after {
            display: none
        }
        .aos-init.active .intrbox.secbox .intrbox_inner {
            margin-right: -390px;
            margin-top: -97px
        }
        .aos-init.active .intrbox.secbox.year10 .intrbox_inner {
            margin-top: -92px
        }
        .accordion-inner-wrap-right .btn-wrap {
            margin-bottom: 55px
        }
    }
    @media screen and (max-width:639px) {
        .aos-init.active .intrbox.secbox .intrbox_inner {
            margin-right: -120px;
            margin-top: 225px
        }
        .secbox .intrbox_inner h2:before {
            display: none
        }
        .text-center h2 {
            font-size: 26px
        }
    }
}